@charset "UTF-8";
/*Intenté aplicar otras soluciones que me ofrese SASS para hacer css, pero las que más me parecieron útiles fueron nesting y @extend. La justificación es que mis archivos de css no tienen muchas propiedades repetidas, salvo algunas excepciones como elementos con los mismos valores, que facilmente solucioné con @extend.*/
body {
  background-color: #fff;
}

.container-cab {
  background: var(--primary-color) fixed no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.nav-container {
  background-color: var(--primary-color);
  padding-top: 24px;
  padding-bottom: 16px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.menu ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: 16px;
  list-style-type: none;
  margin-top: 24px;
}
.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

#fondo1 {
  background-image: url(https://images.pexels.com/photos/2246476/pexels-photo-2246476.jpeg);
}

.bgfondo {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}
main h1 {
  font-size: 100px;
  font-weight: bold;
  margin-top: 190px;
}
main p {
  font-size: 20px;
}

.btn-dark {
  margin-top: 20px;
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.botonmain {
  text-decoration: none;
  color: #fff;
}

.botonsec {
  text-decoration: none;
}

.servicios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 20px 0 10px 0;
}

.s1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 48px;
}
.s1 h2 {
  color: var(--primary-color);
  padding-bottom: 6px;
}
.s1 p {
  padding: 0 150px 0 150px;
}

.informacion {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #f8f9fa;
}
.informacion figure {
  justify-items: stretch;
  align-self: stretch;
}
.informacion img {
  width: 100%;
  height: 100%;
  justify-items: stretch;
}

.info1, .info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.info1 h3, .info2 h3 {
  color: var(--primary-color);
  padding-bottom: 6px;
}
.info1 p, .info2 p {
  padding: 0 12px 0 12px;
}

.info2 {
  /*Aplicando extend de SASS*/
}
.info2 p {
  padding: 0 12px 0 12px;
}

.btn-light {
  border-color: var(--primary-color) !important;
}
.btn-light a {
  color: var(--primary-color);
}

.formulariopadre {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: -internal-light-dark(white, #3b3b3b);
  margin: 0em;
  padding: 1px 2px;
}
.contact-form h4 {
  color: var(--primary-color);
}
.contact-form a {
  color: #fff;
  text-decoration: none;
}

.contact h4 {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 20px;
  color: var(--primary-color) !important;
  letter-spacing: 1px;
  line-height: 1.5em;
  font-weight: 800;
}

footer {
  background-color: #1f1f1f;
  padding: 16px 0 16px;
  border-top: var(--primary-color) solid;
}
footer a {
  color: #fcfcfc;
  text-decoration: none;
  margin-left: 50px;
}

@media (max-width: 375px) {
  main .title {
    font-size: 24px;
  }

  .servicios {
    display: block;
  }
  .servicios .s1 {
    padding: 24px;
  }
  .servicios .s1 p {
    padding: 0 24px 0 24px;
  }

  .informacion {
    display: block;
    margin-bottom: 8px;
  }
  .informacion .info1, .informacion .info2 {
    margin-bottom: 8px;
  }
  .informacion .info1 h3, .informacion .info2 h3 {
    padding: 8px 0 8px 0;
  }
  .informacion .info1 p, .informacion .info2 p {
    margin: 0px 0 8px 0;
  }
  .informacion .fig1 {
    display: none;
  }
  .informacion .info2 {
    margin-bottom: 8px;
  }
  .informacion .info2 h3 {
    padding: 8px 0 8px 0;
  }
  .informacion .info2 p {
    margin: 0px 0 8px 0;
  }

  .formulariopadre {
    display: block;
    margin: 24px;
  }
  .formulariopadre .contact-form {
    width: 100%;
    margin-bottom: 24px;
  }
  .formulariopadre .contact-form textarea {
    width: 100%;
  }

  footer {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=index.css.map */
