body {
    background-color: #fff;
}
.container-cab {
    background: var(--primary-color) fixed no-repeat 50% 50%;
    background-size: cover;
    height: 100vh;
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.nav-container {
    background-color: var(--primary-color);
    padding-top: 24px;
    padding-bottom: 16px;
}
.logo {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.menu{
    ul {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        font-size: 16px;
        list-style-type: none;
        margin-top: 24px;
        li {
            a {
                text-decoration: none;
                color: #fff;
                font-weight: 500;
            }
        }
    }
}
#fondo1 {
    background-image: url(https://images.pexels.com/photos/2246476/pexels-photo-2246476.jpeg);
}
.bgfondo {
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    h1 {
        font-size: 100px;
        font-weight: bold;
        margin-top: 190px;
    }
    p {
        font-size: 20px;
    }
}
.btn-dark {
    margin-top: 20px;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}
.botonmain {
    text-decoration: none;
    color: #fff;
}
.botonsec {
    text-decoration: none;
}
.servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 20px 0 10px 0;
}
.s1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 48px;
    h2 {
        color: var(--primary-color);
        padding-bottom: 6px;
    }
    p {
        padding: 0 150px 0 150px;
    }
}
.informacion {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #f8f9fa;
    figure {
        justify-items: stretch;
        align-self: stretch;
    }
    img {
        width: 100%;
        height: 100%;
        justify-items: stretch;
    }
}
.info1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h3 {
        color: var(--primary-color);
        padding-bottom: 6px;
    }
    p {
        padding: 0 12px 0 12px;
    }
}
.info2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h3 {
        color: var(--primary-color);
        padding-bottom: 6px;
    }
    p {
        padding: 0 12px 0 12px;
    }
}
.btn-light {
    border-color: var(--primary-color) !important;
    a {
        color: var(--primary-color);
    }
}
.formulariopadre {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    h4 {
        color: var(--primary-color);
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}
.contact {
    h4 {
        font-family:inherit;
        text-transform: uppercase;
        font-size: 20px;
        color: var(--primary-color)!important;
        letter-spacing: 1px;
        line-height: 1.5em;
        font-weight: 800;
    }
}
footer {
    background-color: #1f1f1f;
    padding: 16px 0 16px;
    border-top: var(--primary-color) solid;
    a {
        color: #fcfcfc;
        text-decoration: none;
        margin-left: 50px;
    }
}
