.nav-container {
    background-color: var(--primary-color);
    padding-top: 24px;
    padding-bottom: 16px;
}
.logo {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.menu{
    ul {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        font-size: 16px;
        list-style-type: none;
        margin-top: 24px;
        li {
            a {
                text-decoration: none;
                color: #fff;
                font-weight: 500;
            }
        }
    }
}
.graficos {
    display: flex;
    flex-direction: column;
    h2 {
        align-self: center;
        margin: 24px 0 24px 0;
    }
    figure {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        .img2 {
            height: 500px;
        }
    }
    p {
        align-self: center;
    }
}
footer {
    background-color: #1f1f1f;
    padding: 16px 0 16px;
    border-top: var(--primary-color) solid;
    a {
        color: #fcfcfc;
        text-decoration: none;
        margin-left: 50px;
    }
}
@media (max-width: 720px) {
    .graficos {
        h2 {
            text-align: center;
        }
        display: block;
        figure {
            display: flex;
            flex-direction: column;
            justify-items: center;

            .img1 {
                height: 600px;
            }
            .img2 {
                height: 400px;
            }
        }
        p {
            padding: 0 8px 0 8px;
            text-align: center;
        }
    }
    footer {
        position: absolute;
        width: 100%;
        
    }
}