body {
  background-color: #fff;
}

.container-cab {
  background: var(--primary-color) fixed no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
}

.nav-container {
  background-color: var(--primary-color);
  padding-bottom: 2%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 22px;
  list-style-type: none;
  margin-top: 50px;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

#fondo1 {
  background-image: url(https://images.pexels.com/photos/2246476/pexels-photo-2246476.jpeg);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}

main h1 {
  font-size: 100px;
  margin-top: 190px;
  font-weight: bold;
}

main p {
  font-size: 20px;
}

.botonmain {
  text-decoration: none;
  color: #fff;
}

.botonsec {
  text-decoration: none;
}

.servicios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  margin: 20px 0 10px 0;
}

.s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 120px 0 120px;
}

.informacion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.informacion img {
  width: 100%;
  justify-items: stretch;
}

.info1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.info2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.formulariopadre {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: -internal-light-dark(white, #3b3b3b);
  margin: 0em;
  padding: 1px 2px;
}

.btn {
  margin-top: 20px;
}

.contact h4 {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 20px;
  color: #100f5c !important;
  letter-spacing: 1px;
  line-height: 1.5em;
  font-weight: 800;
}

footer {
  background-color: #1f1f1f;
  padding: 15px 0 5px;
}

footer a {
  color: #fcfcfc;
  text-decoration: none;
  margin-left: 50px;
}
/*# sourceMappingURL=sedes.css.map */